.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
}

.card-text {
    font-size: 1em;
    color: #555;
}

footer {
    background-color: #000c54;
    color: white;
}

footer p {
    margin: 0;
}

.container {
    padding-top: 10px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.section-title {
    margin: 50px 0 30px;
    color: #000c54;
    position: relative;
    display: inline-block;
}

.section-title::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: #000c54;
    bottom: -10px;
    left: 0;
}

.lead {
    font-size: 1.1em;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    color: #000c54;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #007bff;
}