/* for header */
.navy {
    background-color: #000c54; 
  }
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman';
  }
  .navbar-custom .nav-link {
    margin-right: 25px;
  }
  .navbar-custom .nav-link:hover {
    color: #fff; 
  }
  .navbar-brand img {
    height: 60px; 
  }
  .logo-text {
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
  }